body{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #171401;
}

/* header part  */

header{
    background-color: #fcdb00;
   
}
.c-nav{}
.c-nav a img {
}

.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #171401 !important;
        padding: 0px 20px !important;

}

.menu ul li:last-child a{
    padding-right: 0px !important;
}
.menu ul li a:hover{
    color: aliceblue !important;
}